<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/imageFront/favicon.png" type="image/png">
    <title>VAYO</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/royal-master/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-2XgIodlR5mRvJjh7Dh8zx3YIgpAtklz1NFT9yFViHxPKTofTLaE3qD2sZtNbiZtMImsdymzYiabm9SD4fSk4Q=="
        crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/royal-master/js/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="/royal-master/vendors/linericon/style.css">
    <link rel="stylesheet" href="/royal-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="/royal-master/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/royal-master/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/royal-master/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/royal-master/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    
    <link rel="stylesheet" href="/royal-master/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <link rel="stylesheet" href="../../majestic-master/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../majestic-master/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <!-- <link rel="stylesheet" href="../../majestic-master/css/style.css"> -->
    <!-- endinject -->
    <link rel="shortcut icon" href="../majestic-master/../images/favicon.png" />
</head>

<body>


   