

  <!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>VAYO ADMIN</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/majestic-master/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/majestic-master/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="/majestic-mastervendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/majestic-master/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/majestic-master/images/favicon.png" />
  <link rel="stylesheet" href="/majestic-master/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/majestic-master/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/majestic-master/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/majestic-master/images/favicon.png" />

  <script src="/royal-master/js/jquery-3.2.1.min.js"></script>



  <link rel="stylesheet" href="../../majestic-master/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../majestic-master/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../majestic-master/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../majestic-master/../images/favicon.png" />
</head>
<body>