
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="#">
          <i class="bi bi-menu-button-wide"></i><span>PRODUCT LIST</span>
        </a>
       
      </li><!-- End Components Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/category">
          <i class="bi bi-menu-button-wide"></i><span>CATEGORY</span>
        </a>
       
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="#">
          <i class="bi bi-journal-text"></i><span>ADD PRODUCT</span>
        </a>
        
      </li><!-- End Icons Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed"  href="#">
          <i class="bi bi-menu-button-wide"></i><span>ORDERS</span>
        </a>
       
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"  href="#">
          <i class="bi bi-journal-text"></i><span>USERS</span>
        </a>
        
      </li><!-- End Icons Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed"  href="#">
          <i class="bi bi-journal-text"></i><span>ADD COUPON</span>
        </a>
        
      </li><!-- End Icons Nav -->
      


      

    

    </ul>

  </aside>
  